<div class="form-container">
  <div class="form-header">
    <h1 class="form-title">Fill All The Necessary Details</h1>
    <p class="form-subtitle">Enter user information to add to the system</p>
  </div>
  
  <form [formGroup]="from">
    <div class="form-row">
      <div class="form-group">
        <label for="trainId" class="form-label">Train Id</label>
        <input 
          type="text" 
          class="form-input" 
          formControlName="trainId">
      </div>
      
      <div class="form-group">
        <label for="Class" class="form-label">Class</label>
        <input 
          type="text"
          class="form-input" 
          formControlName="class">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="source_station" class="form-label">Source Station</label>
        <input 
          type="text" 
          class="form-input" 
          placeholder="Enter source station"
          formControlName="sourceStation">
      </div>
      
      <div class="form-group">
        <label for="destinationStation" class="form-label">Destination Station</label>
        <input 
          type="text"
          class="form-input" 
          placeholder="Enter destination station"
          formControlName="destinationStation">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <label for="journey_date" class="form-label">Date of Journey</label>
        <input 
          type="date"
          class="form-input" 
          formControlName="journyDate">
      </div>
      
      <div class="form-group">
        <label for="fair" class="form-label">Fare</label>
        <input 
          type="number"
          id="fair"
          class="form-input" 
          placeholder="Enter fare amount"
          formControlName="amount">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="pnr" class="form-label">PNR</label>
        <input 
          type="text"
          class="form-input" 
          formControlName="pnr">
      </div>

      <div class="form-group">
        <label for="status" class="form-label">Status</label>
        <input 
          type="text"
          class="form-input" 
          formControlName="status">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="Choose passanger" class="form-label" *ngIf="data.mode=='view'">List of passanger</label>
        <label for="Choose passanger" class="form-label" *ngIf="data.mode=='delete'">Choose passanger for cancelation</label>
        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [settings]="dropdownSettings"
          formControlName="selectedItems"
          [data]="dropdownList"
        >
        </ng-multiselect-dropdown>
      </div>
      <div class="form-group">
      <button *ngIf="data.mode=='delete'" (click)="delete()" class="text-danger">Delete</button>
      </div>
    </div>
  </form>
</div>